body{

background-color:black;
}
#back{
	margin:auto;
	height:100%;
	width:100%;
}
h1{
	color:yellow;
	text-align: center;
	font-size: 100px;
	font-style: italic;
}
img{
	height: 30%

}

#D{
	background-color: white;
	
height:100%;
	width:100%;

}
	
tr,th{

	color:red;
	text-align: left;
	border: 3px solid white;
	padding: 5px;
}

a:hover{
    color:black;
}

p{
	color:yellow;
	font-size: 17px;
	font-family: italic;
	text-align: center;
	}
